@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
h3,
p {
  margin: 0;
  padding: 0;
}

.recipe-card {
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: $cookd-cream;
  padding: 1rem 0.5rem;
  width: 20rem;
  &__name {
    font-size: 1.5rem;
  }
  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
  }
  &__delete,
  &__edit {
    margin: 0 0.5rem;
  }
  &__delete {
    border: none;
  }
  &__image {
    margin: 0.5rem, 0;
    border-radius: 1rem;
  }
  &__details {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__left {
    width: 30%;
  }
  &__right {
    width: 60%;
  }
  // &__further-details {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-between;
  //   margin: 1rem 0 0 0;
  // }
  &__ingredients {
    list-style: none;
  }
  &__info {
    margin: 0;
  }
  &__name,
  &__duration,
  &__serve,
  &__review,
  &__type,
  &__comments {
    margin: 0.5rem 0;
  }
  &__duration {
    margin-top: 0;
  }
  &__delete {
    background: none;
  }
  &__edit {
    width: 2rem;
  }
}

.italic {
  font-style: italic;
  margin: 0;
}
