@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  overflow: scroll;
  height: 100vh;
  &__subtitle {
    color: $cookd-dark-green;
    text-align: left;
    position: relative;
    left: -6rem;
    &--second {
      left: -7rem;
    }
  }
}

.redirect {
  display: flex;
  flex-direction: column;
  width: 22rem;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
  margin-bottom: 1rem;

  &-button {
    margin-top: 1rem;

    background-color: $cookd-green;
    border: 1px solid $cookd-green;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: inherit;
    cursor: pointer;
    transition: background-color 0.15s;

    &:hover {
      background-color: $cookd-dark-green;
    }
  }
}

.add-cookbook-btn,
.add-recipe-btn {
  position: relative;
  left: 8rem;
  bottom: 2rem;
}
