@use "./mixins" as *;
@use "./reset" as *;
@use "./typography" as *;
@use "./variables" as *;

//Input styling
.field {
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: 0.5rem;
  }

  &__input {
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: inherit;
    color: inherit;
    background-color: $cookd-off-white;
  }
}

// .button {
//   margin-top: 1rem;
//   background-color: $cookd-green;
//   border: 1px solid $cookd-green;
//   color: $cookd-cream;
//   border-radius: 0.5rem;
//   padding: 0.5rem;
//   font-size: inherit;
//   cursor: pointer;

//   &:hover {
//     background-color: $cookd-dark-green;
//   }
// }
