@font-face {
  font-family: "Arial Rounded MT Bold Regular";
  src: url("../../assets/fonts/arial-rounded-mt-bold-regular/arial-rounded-mt-bold-regular.ttf");
  font-weight: 400;
}

* {
  font-family: "Arial Rounded MT Bold Regular", sans-serif;
}
