$cookd-green: #6a994e;
$cookd-dark-green: #4b6c37;
$cookd-cream: #fefae0;
$cookd-off-white: #fcf9e9;
$cookd-red: #c94515;

$max-width-mobile: 375px;
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;
$max-width-desktop: 63.75rem;
