@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.add-ingredient--btn {
  margin-right: 2rem;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $cookd-off-white;
}

.add-recipe {
  max-width: $max-width-mobile;
  color: $cookd-dark-green;
  position: relative;
  left: 0rem;
  bottom: -1rem;
  height: 75vh;
  width: 100vw;
  padding: 0 1rem 0.5rem 1rem;
  &__title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  &__submit {
    width: 100%;
    align-self: center;
  }
}

.message {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  &--error {
    color: $cookd-red;
  }
  &--success {
    color: $cookd-dark-green;
  }
}

button {
  margin-top: 1rem;
  background-color: $cookd-green;
  border: 1px solid $cookd-green;
  color: $cookd-cream;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: inherit;
  cursor: pointer;

  &:hover {
    background-color: $cookd-dark-green;
  }
}
