@use "../../styles/partials/variables" as *;

.error {
  &__container {
    height: 75vh;
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
  }
  &__message {
    color: $cookd-dark-green;
  }
}
